<a href="https://colab.research.google.com/github/cdeepana/TensorFlow_0/blob/main/TensorFlow_with_GPU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tensorflow with GPU

This notebook provides an introduction to computing on a [GPU](https://cloud.google.com/gpu) in Colab. In this notebook you will connect to a GPU, and then run some basic TensorFlow operations on both the CPU and a GPU, observing the speedup provided by using the GPU.

In [5]:
print('ok')

ok

In [6]:
import tensorflow as tf

In [9]:
TRAIN_DATA_URL = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv"
TEST_DATA_URL = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-02.csv"

train_file_path = tf.keras.utils.get_file("train.csv",TRAIN_DATA_URL)
test_file_path = tf.keras.utils.get_file("eval.csv",TEST_DATA_URL)

Downloading data from https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv
687095808/687088084 [==============================] - 8s 0us/step
Downloading data from https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-02.csv
649887744/649882828 [==============================] - 9s 0us/step

In [11]:
import pandas as pd
csv_file = tf.keras.utils.get_file('trip.csv','https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv')

Downloading data from https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv
687095808/687088084 [==============================] - 8s 0us/step

In [12]:
df = pd.read_csv(csv_file)

In [13]:
df.head()

   VendorID tpep_pickup_datetime  ... total_amount  congestion_surcharge
0         1  2019-01-01 00:46:40  ...         9.95                   NaN
1         1  2019-01-01 00:59:47  ...        16.30                   NaN
2         2  2018-12-21 13:48:30  ...         5.80                   NaN
3         2  2018-11-28 15:52:25  ...         7.55                   NaN
4         2  2018-11-28 15:56:57  ...        55.55                   NaN

[5 rows x 18 columns]

In [14]:
df.head(10)

   VendorID tpep_pickup_datetime  ... total_amount  congestion_surcharge
0         1  2019-01-01 00:46:40  ...         9.95                   NaN
1         1  2019-01-01 00:59:47  ...        16.30                   NaN
2         2  2018-12-21 13:48:30  ...         5.80                   NaN
3         2  2018-11-28 15:52:25  ...         7.55                   NaN
4         2  2018-11-28 15:56:57  ...        55.55                   NaN
5         2  2018-11-28 16:25:49  ...        13.31                   NaN
6         2  2018-11-28 16:29:37  ...        55.55                   NaN
7         1  2019-01-01 00:21:28  ...         9.05                   NaN
8         1  2019-01-01 00:32:01  ...        18.50                   NaN
9         1  2019-01-01 00:57:32  ...        13.00                   NaN

[10 rows x 18 columns]

## Enabling and testing the GPU

First, you'll need to enable GPUs for the notebook:

- Navigate to Edit→Notebook Settings
- select GPU from the Hardware Accelerator drop-down

Next, we'll confirm that we can connect to the GPU with tensorflow:

In [ ]:
%tensorflow_version 2.x
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

TensorFlow 2.x selected.
Found GPU at: /device:GPU:0

## Observe TensorFlow speedup on GPU relative to CPU

This example constructs a typical convolutional neural network layer over a
random image and manually places the resulting ops on either the CPU or the GPU
to compare execution speed.

In [ ]:
%tensorflow_version 2.x
import tensorflow as tf
import timeit

device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  print(
      '\n\nThis error most likely means that this notebook is not '
      'configured to use a GPU.  Change this in Notebook Settings via the '
      'command palette (cmd/ctrl-shift-P) or the Edit menu.\n\n')
  raise SystemError('GPU device not found')

def cpu():
  with tf.device('/cpu:0'):
    random_image_cpu = tf.random.normal((100, 100, 100, 3))
    net_cpu = tf.keras.layers.Conv2D(32, 7)(random_image_cpu)
    return tf.math.reduce_sum(net_cpu)

def gpu():
  with tf.device('/device:GPU:0'):
    random_image_gpu = tf.random.normal((100, 100, 100, 3))
    net_gpu = tf.keras.layers.Conv2D(32, 7)(random_image_gpu)
    return tf.math.reduce_sum(net_gpu)
  
# We run each op once to warm up; see: https://stackoverflow.com/a/45067900
cpu()
gpu()

# Run the op several times.
print('Time (s) to convolve 32x7x7x3 filter over random 100x100x100x3 images '
      '(batch x height x width x channel). Sum of ten runs.')
print('CPU (s):')
cpu_time = timeit.timeit('cpu()', number=10, setup="from __main__ import cpu")
print(cpu_time)
print('GPU (s):')
gpu_time = timeit.timeit('gpu()', number=10, setup="from __main__ import gpu")
print(gpu_time)
print('GPU speedup over CPU: {}x'.format(int(cpu_time/gpu_time)))

Time (s) to convolve 32x7x7x3 filter over random 100x100x100x3 images (batch x height x width x channel). Sum of ten runs.
CPU (s):
3.862475891000031
GPU (s):
0.10837535100017703
GPU speedup over CPU: 35x